
html {
  background-color: black;
  background: url(../imgs/ace_elijah.jpg) no-repeat left top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default {
  background-color: rgba(0,0,0,0) !important;
  border-style: none !important;
}

.navbar-brand {
  font-family: 'signature';
  font-size: 150%;
  letter-spacing: 0.1em;
/*  line-height: 1.3em;*/
}


@font-face {
  font-family: 'signature';
  src: url(../fonts/lines_curves.ttf);
}

@font-face {
  font-family: 'source';
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}

